.bg-clr {
    background: #469689;
}

.issueNav:hover {
  cursor: pointer;
}

body {
    font-family: montserrat;
}

.ft-16 {
    font-size: 16px;
}

.ft-15 {
    font-size: 15px;
}

.ft-14 {
    font-size: 14px;
}

ul.test-disp .disp {
    float: left;
    line-height: 40px;
    list-style: none;
    padding: 0 12px;
    color: #fff;
}

ul.test-disp {
    float: right;
    margin: 0;
}

.modal-btn {
    background: transparent;
}

.state_1 {
}

.state_2 {
}

.btn-done {
    background: #5CB55B;
}

.border-rad {
    border-radius: 15px;
}

.modal-title {
    font-size: .95rem;
}

.ft-500 {
    font-weight: 500;
    font-size: .85rem;
}

.content {
    width: 76%;
    margin: 0 auto;
}

.bor-btm {
    border-bottom: 2px solid #b2b2bb;
}

.bor-right {
    border-right: 1px solid #b2b2bb;
}

.bor-left {
    border-left: 1px solid #b2b2bb;
}

.clr-green {
    color: #66A79D;
}

.border_gray {
    border: 2px solid #b2b2bb;
}

.btn_resolve {
    padding: .35rem 1.2rem;
    border-radius: 10px !important;
}

.btn {
    border-radius: 0;
}

.state_editor_link {
  text-decoration: underline;
  color: blue;
}

.state_editor_link:hover {
  cursor: pointer;
}

.clr-red {
    color: #EC6448;
}

.modal-body {
    border-bottom: 1px solid #E9ECEF;
}

.ft-18{
    font-size: 18px;
}

.suggestion_header{
  color: red;
  margin-left: 10px;
}

.tips{
  list-style-type: square;
}

.btn-arrow{
  margin: auto;
  background-color: white;
  border: none;
  cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

table, th, td {
    border: 1px solid black;
}

.highlight{
  background-color: #cfffe1;
  opacity: 0.5;
}

.playthrough_content{
  font-size: 25px;
  color: white;
}

.text{
    position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
}
.hexagon {
  transform: scale(0.5);
  position: relative;
  width: 200px;
  height: 115.47px;
  background-color: #009A8B;
  margin: 20px 0;
  border-left: solid 2px #009A8B;
  border-right: solid 2px #009A8B;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 141.42px;
  height: 141.42px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 27.2893px;
}

.hexagon:before {
  top: -70.7107px;
  border-top: solid 2.8284px #009A8B;
  border-right: solid 2.8284px #009A8B;
}

.hexagon:after {
  bottom: -70.7107px;
  border-bottom: solid 2.8284px #009A8B;
  border-left: solid 2.8284px #009A8B;
}
